<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['']">CovidApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['lista']">Lista</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['mundo']">El Mundo</a>
            </li>
        </ul>
    </div>

    <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="pais" [(ngModel)]="criterio"
         placeholder="Busca tu país" #pais="ngModel" />
        <button class="btn btn-success my-2 my-sm-0" (click) = "buscarPais()">Buscar</button>
    </div>
</nav>